.floating-buttons {
    position: fixed;
    z-index: 40;
    left: 20px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    button {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background: #0077b6;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background: #023e8a;
      }
    }
  
    .language-container {
      position: relative;
  
      .language-dropdown {
        position: absolute;
        z-index: 25;
        top: 50%;
        left: 50px; 
        transform: translateY(-50%);
        background: white;
        border-radius: 6px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        padding: 5px;
        display: flex;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
  
        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          color: black;
          padding: 5px 10px;
          transition: color 0.2s ease;
  
          &:hover {
            color: #0077b6;
          }
        }
      }
  
      .language-toggle:focus + .language-dropdown,
      .language-dropdown:hover {
        touch-action: manipulation;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  