// RESET CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
  cursor: none !important;
}
html,
body {
  overflow-x: hidden;
}
.title {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 90px 0 40px 50px;
  @media (max-width: 830px) {
    padding: 90px 0 40px 20px;
  }
  @media (max-width: 560px) {
    padding: 70px 0 40px 8px;
  }
  @media (max-width: 500px) {
    padding: 90px 0 40px 8px;
  }

  h2 {
    color: var(--text-color);
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 40px;
    padding: 0 28px 0 10px;
    @media (max-width: 830px) {
      font-size: 37px;
      padding: 0 28px 0 0;
    }
    @media (max-width: 560px) {
      font-size: 30px;
      padding: 0 15px 0 0;
    }
    @media (max-width: 400px) {
      font-size: 27px;
    }
  }
}

// cursor wrap
.cursor-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

// large cursor
.cursor--large {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: var(--cursor-main-color);
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  z-index: 9998;
}

// small curosr
.cursor--small {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: var(--small-cursor-color);
  border-radius: 50%;
  transition: transform 0.1s ease-out, opacity 0.3s;
  z-index: 9999;
}

// hover Effect
.cursor--large.hover {
  width: 42px;
  height: 42px;
  opacity: 0.7;
}

.cursor--small.hover {
  opacity: 0;
}

//alerts desing
.swal2-popup {
  h2 {
    font-family: var(--main-font-family);
    font-size: 40px;
    font-weight: 700;
    padding-top: 15px;
  }
  .swal2-html-container {
    font-family: var(--secondary-font-family);
    font-size: 16px;
  }
  button {
    outline: none;
    background-color: var(--primary-color);
    font-family: var(--secondary-font-family);
    color: var(--text-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.06);
      background-color: var(--second-primary-color) !important;
    }
  }
}
//toastfy 
.Toastify__toast{
  background-color: var(--primary-color);
  font-family: var(--secondary-font-family);
  font-size: 15px;
}
