.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 54px 40px 54px;
  @media (max-width: 1284px) {
    padding: 18px 47px 40px 47px;
  }
  @media (max-width: 1284px) {
    padding: 18px 30px 40px 30px;
  }
  @media (max-width: 620px) {
    padding: 18px 10px 40px 10px;
  }
  @media (max-width: 561px) {
    padding: 18px 10px 40px 10px;
  }

  width: 100%;

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    @media (max-width: 561px) {
      gap: 7px;
    }
    .product-cart[data-id="9"],
    .product-cart[data-id="10"],
    .product-cart[data-id="11"] {
      background-position: center bottom;
    }

    .product-cart {
      background-color: white;
      padding: 18px;
      @media (max-width: 450px) {
        padding: 14px;
      }
      @media (max-width: 420px) {
        padding: 12px;
      }
      &:hover {
        padding: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 58vh;
      @media (max-width: 561px) {
        height: 43vh;
      }
      @media (max-width: 430px) {
        height: 39vh;
      }
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;

      * {
        font-family: var(--secondary-font-family);
      }

      .top,
      .bottom {
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      }

      .bottom {
        align-self: end;
        .price {
          font-size: 20px;
          @media (max-width: 561px) {
            font-size: 15px;
          }
        }
      }

      .product-brand {
        color: #555;
        font-size: 14px;
        @media (max-width: 561px) {
          font-size: 11px;
        }
        @media (max-width: 430px) {
          font-size: 10px;
        }
      }

      .product-name {
        padding-top: 5px;
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        @media (max-width: 1500px) {
          font-size: 21px;
        }
        @media (max-width: 561px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media (max-width: 430px) {
          font-size: 13px;
        }
      }

      &:hover {
        .top,
        .bottom {
          opacity: 0;
          transform: translateY(-20px);
        }

        .hover-buttons {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      .hover-buttons {
        padding: 17px;
        @media (max-width: 467px) {
          padding: 10px;
        }
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        align-items: center;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        transform: translateY(20px);
        .in-wishlist {
          background-color: #d5a5a5 !important;
        }
        .wishlist {
          align-self: end;
          background-color: black;
          width: 40px;
          height: 40px;
          @media (max-width: 675px) {
            width: 37px;
            height: 37px;
          }
          @media (max-width: 527px) {
            width: 35px;
            height: 35px;
          }
          @media (max-width: 447px) {
            width: 32px;
            height: 32px;
          }
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            font-size: 23px;
            color: white;
            @media (max-width: 527px) {
              font-size: 20px;
            }
          }
        }
        .btn {
          .add-to-cart {
            position: relative;
            overflow: hidden;
            display: inline-block;
            &:hover {
              color: black;
            }
            &::before {
              content: "";
              position: absolute;
              top: -150%;
              left: -150%;
              width: 300%;
              height: 300%;
              background: var(--primary-color);
              z-index: -1;
              transition: transform 0.8s ease-in-out;
              transform: translate(-100%, -100%);
            }
    
            &:hover::before {
              transform: translate(0, 0);
            }
            outline: none;
            padding: 8px 85px;

            text-align: center;
            background-color: #000;
            color: white;
            border: none;
            transition: background-color 0.3s ease-in-out;
            @media (max-width: 730px) {
              font-size: 14px;
              padding: 10px 75px;
            }
            @media (max-width: 675px) {
              padding: 10px 65px;
            }
            @media (max-width: 575px) {
              padding: 9px 60px;
            }
            @media (max-width: 547px) {
              padding: 8px 55px;
            }
            @media (max-width: 527px) {
              padding: 8px 50px;
            }
            @media (max-width: 507px) {
              padding: 8px 45px;
            }
            @media (max-width: 487px) {
              padding: 8px 40px;
            }
            @media (max-width: 467px) {
              padding: 8px 35px;
            }
            @media (max-width: 447px) {
              padding: 7px 29px;
            }
            @media (max-width: 395px) {
              padding: 6px 22px;
            }
            &:hover {
              background-color: #333;
            }

            &:focus,
            &:active {
              outline: none !important;
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 900px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // @media (max-width: 560px) {
  //   .products {
  //     grid-template-columns: repeat(1, 1fr);
  //   }
  // }
}
