* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
  cursor: none !important;
}

html, body {
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 90px 0 40px 50px;
}
@media (max-width: 830px) {
  .title {
    padding: 90px 0 40px 20px;
  }
}
@media (max-width: 560px) {
  .title {
    padding: 70px 0 40px 8px;
  }
}
@media (max-width: 500px) {
  .title {
    padding: 90px 0 40px 8px;
  }
}
.title h2 {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 40px;
  padding: 0 28px 0 10px;
}
@media (max-width: 830px) {
  .title h2 {
    font-size: 37px;
    padding: 0 28px 0 0;
  }
}
@media (max-width: 560px) {
  .title h2 {
    font-size: 30px;
    padding: 0 15px 0 0;
  }
}
@media (max-width: 400px) {
  .title h2 {
    font-size: 27px;
  }
}

.cursor-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.cursor--large {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 205, 205, 0.5); /* Light Pink */
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  z-index: 9998;
}

.cursor--small {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: rgb(253, 139, 139); /* Darker Pink */
  border-radius: 50%;
  transition: transform 0.1s ease-out, opacity 0.3s;
  z-index: 9999;
}

.cursor--large.hover {
  width: 42px;
  height: 42px;
  opacity: 0.7;
}

.cursor--small.hover {
  opacity: 0;
}

header .announcement {
  background-color: var(--text-color);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5px 0;
  font-weight: 400;
}
header nav {
  z-index: 2;
  background: linear-gradient(45deg, var(--primary-color), #fef9f9, var(--second-primary-color), #f3f4f8);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
header nav.sticky {
  animation: slideDown 0.6s ease-in-out forwards;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  padding: 8px !important;
  border-bottom: 0.001rem solid rgb(44, 62, 80);
}
header nav.sticky img {
  width: 130px;
  height: 35px;
  transform: none;
}
header nav.sticky .icons,
header nav.sticky ul, header nav.sticky .icons-add {
  border-bottom: none;
}
header nav.sticky ul {
  padding: 0;
}
header nav.sticky .navbar-brand {
  padding: 0px 20px;
}
header nav.sticky .navbar-brand::before {
  display: none;
}
header nav .nav-link {
  font-family: var(--secondary-font-family);
  position: relative;
}
header nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.5;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
header nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header nav .navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navbar-brand::before {
  display: inline-block;
  content: "";
  border-top: 0.001rem solid rgb(44, 62, 80);
  border-radius: 10px;
  width: 3rem;
  margin: 0px 15px 0px 0px;
  transform: translateY(1.57rem);
}
@media (max-width: 992px) {
  header nav .navbar-brand::before {
    display: none;
  }
}
header nav img {
  width: 200px;
  height: 70px;
  transform: translateY(10px);
}
header nav ul,
header nav .icons,
header nav .icons-add {
  padding-bottom: 8px;
  border-bottom: 0.001rem solid rgb(44, 62, 80);
}
@media (max-width: 992px) {
  header nav ul,
  header nav .icons,
  header nav .icons-add {
    border: none;
  }
}
header nav .icons-add {
  padding-bottom: 10px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (min-width: 992px) {
  header nav .icons-add {
    padding-right: 60px;
  }
}
header nav .icons-add .icon {
  font-size: 21px;
}
header nav .icons-add .icon:hover {
  transform: scale(1.15);
}
header nav .icons {
  padding-right: 60px;
  padding-bottom: 13px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
header nav .icons .icon {
  font-size: 21px;
}
header nav .icons .icon:hover {
  transform: scale(1.15);
}
header nav .container-fluid {
  padding: 0;
  justify-content: start !important;
}
header nav button {
  margin-top: 10px;
  outline: none !important;
  border: none !important;
}
header nav button:focus {
  box-shadow: none !important;
  border: none !important;
}
@media (max-width: 992px) {
  header nav button {
    order: 1;
  }
}
header nav .toggle-icon {
  font-size: 26px;
  color: black;
}
@media (max-width: 992px) {
  header nav {
    border-bottom: 0.001rem solid rgb(44, 62, 80);
    padding: 10px !important;
  }
  header nav .icons {
    gap: 8px;
    padding-right: 0;
    padding-bottom: 5px;
  }
  header nav img {
    transform: none;
    width: 160px;
    height: 50px;
    padding: 0px 10px;
  }
}
@media (max-width: 560px) {
  header nav {
    padding: 6px !important;
  }
  header nav .icons {
    gap: 6px;
  }
  header nav .icon {
    font-size: 20px !important;
  }
  header nav img {
    width: 145px;
    height: 35px;
  }
}
@media (max-width: 440px) {
  header nav img {
    width: 135px;
    height: 30px;
  }
  header nav .icons {
    gap: 4px;
  }
}

.new-arrivals {
  background: linear-gradient(135deg, rgba(98, 0, 234, 0.3) 30%, rgba(41, 121, 255, 0.3) 70%);
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
.new-arrivals .title span {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  color: #545454;
  border-bottom: 0.001rem solid #545454;
  animation: borderAnimation 1s infinite alternate;
}
@media (max-width: 830px) {
  .new-arrivals .title span {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .new-arrivals .title span {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .new-arrivals .title span {
    font-size: 13px;
  }
}

@keyframes borderAnimation {
  0% {
    border-bottom-color: rgba(84, 84, 84, 0);
  }
  50% {
    border-bottom-color: rgb(84, 84, 84);
  }
  100% {
    border-bottom-color: rgba(84, 84, 84, 0);
  }
}
.home-hero {
  background-image: url("../images/general/homeHero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.home-hero .content-container {
  height: 100%;
}
.home-hero .content-container .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 120px 40px 40px;
}
.home-hero .content-container .content h2 {
  font-family: var(--main-font-family);
  font-weight: 750;
  font-size: 42px;
}
.home-hero .content-container .content button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-family: var(--secondary-font-family);
  padding: 12px 32px;
  font-size: 19px;
  margin-top: 10px;
}
.home-hero .content-container .content button:hover {
  color: black;
}
.home-hero .content-container .content button::before {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: var(--primary-color);
  z-index: -1;
  transition: transform 0.8s ease-in-out;
  transform: translate(-100%, -100%);
}
.home-hero .content-container .content button:hover::before {
  transform: translate(0, 0);
}
@media (max-width: 900px) {
  .home-hero .content-container .content h2 {
    font-size: 38px;
  }
}

.spot-light {
  background-color: var(--primary-color);
}
.spot-light .title {
  padding: 43px 0 18px 50px;
}
.spot-light .main {
  position: relative;
}
.spot-light .main .img {
  width: 100%;
  height: auto;
  position: relative;
}
.spot-light .main .img img {
  width: 100%;
  height: auto;
  display: block;
}
.spot-light .main .img .hotspots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spot-light .main .img .hotspots .hotspot {
  font-family: var(--secondary-font-family);
  color: white;
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.001rem solid #fff9f9;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 550px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }
}
@media (max-width: 460px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 19px;
    height: 19px;
  }
}
.spot-light .main .img .hotspots .hotspot:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.2);
}
.spot-light .main .img .hotspots .hotspot.active {
  color: black;
  background-color: #fff9f9;
  transform: scale(1.1);
}
.spot-light .main .img .hotspots .hotspot::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  animation: pulse 1.7s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.spot-light .main .slide {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .spot-light .main .slide {
    height: 80vh;
  }
}
.spot-light .main .slide .spot-light-product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
}
.spot-light .main .slide .spot-light-product .bg-image {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
@media (max-width: 576px) {
  .spot-light .main .slide .spot-light-product .bg-image {
    top: -120px;
  }
}
@media (max-width: 930px) {
  .spot-light .main .slide .spot-light-product .bg-image {
    top: -120px;
  }
}
.spot-light .main .slide .spot-light-product .info {
  margin-bottom: -15px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%;
}
.spot-light .main .slide .spot-light-product .info .content {
  padding-top: 20px;
  width: 55%;
}
.spot-light .main .slide .spot-light-product .info .content * {
  font-family: var(--secondary-font-family);
}
@media (max-width: 470px) {
  .spot-light .main .slide .spot-light-product .info .content {
    width: 70%;
  }
}
.spot-light .main .slide .spot-light-product .info .content h4 {
  color: var(--text-color);
  font-size: 23px;
  font-weight: 400;
}
@media (max-width: 1132px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 20px;
  }
}
@media (max-width: 997px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 18px;
  }
}
@media (max-width: 908px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 23px;
  }
}
@media (max-width: 630px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 19px;
  }
}
@media (max-width: 470px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 17px;
  }
}
.spot-light .main .slide .spot-light-product .info .content p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}
.spot-light .main .slide .spot-light-product .info .content span {
  color: #545454;
  font-size: 14px;
}
@media (max-width: 997px) {
  .spot-light .main .slide .spot-light-product .info .content span {
    font-size: 12px;
  }
}
.spot-light .main .slide .spot-light-product .info .icon-container {
  border: 0.001rem solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spot-light .main .slide .spot-light-product .info .icon-container .icon {
  font-size: 28px;
  color: #6e6b6b;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@keyframes iconAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: 1;
    opacity: 1;
  }
}
.spot-light .main .slide .spot-light-product .info .icon-container:hover .icon {
  animation: iconAnimation 1s ease-in-out;
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 54px 40px 54px;
  width: 100%;
}
@media (max-width: 1284px) {
  .products-container {
    padding: 18px 47px 40px 47px;
  }
}
@media (max-width: 1284px) {
  .products-container {
    padding: 18px 30px 40px 30px;
  }
}
@media (max-width: 620px) {
  .products-container {
    padding: 18px 10px 40px 10px;
  }
}
@media (max-width: 561px) {
  .products-container {
    padding: 18px 10px 40px 10px;
  }
}
.products-container .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}
@media (max-width: 561px) {
  .products-container .products {
    gap: 7px;
  }
}
.products-container .products .product-cart[data-id="9"],
.products-container .products .product-cart[data-id="10"],
.products-container .products .product-cart[data-id="11"] {
  background-position: center bottom;
}
.products-container .products .product-cart {
  background-color: white;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 58vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 450px) {
  .products-container .products .product-cart {
    padding: 14px;
  }
}
@media (max-width: 420px) {
  .products-container .products .product-cart {
    padding: 12px;
  }
}
.products-container .products .product-cart:hover {
  padding: 0;
}
@media (max-width: 561px) {
  .products-container .products .product-cart {
    height: 43vh;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart {
    height: 39vh;
  }
}
.products-container .products .product-cart * {
  font-family: var(--secondary-font-family);
}
.products-container .products .product-cart .top,
.products-container .products .product-cart .bottom {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.products-container .products .product-cart .bottom {
  align-self: end;
}
.products-container .products .product-cart .bottom .price {
  font-size: 20px;
}
@media (max-width: 561px) {
  .products-container .products .product-cart .bottom .price {
    font-size: 15px;
  }
}
.products-container .products .product-cart .product-brand {
  color: #555;
  font-size: 14px;
}
@media (max-width: 561px) {
  .products-container .products .product-cart .product-brand {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart .product-brand {
    font-size: 10px;
  }
}
.products-container .products .product-cart .product-name {
  padding-top: 5px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 1500px) {
  .products-container .products .product-cart .product-name {
    font-size: 21px;
  }
}
@media (max-width: 561px) {
  .products-container .products .product-cart .product-name {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart .product-name {
    font-size: 13px;
  }
}
.products-container .products .product-cart:hover .top,
.products-container .products .product-cart:hover .bottom {
  opacity: 0;
  transform: translateY(-20px);
}
.products-container .products .product-cart:hover .hover-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.products-container .products .product-cart .hover-buttons {
  padding: 17px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translateY(20px);
}
@media (max-width: 467px) {
  .products-container .products .product-cart .hover-buttons {
    padding: 10px;
  }
}
.products-container .products .product-cart .hover-buttons .in-wishlist {
  background-color: var(--second-primary-color) !important;
}
.products-container .products .product-cart .hover-buttons .wishlist {
  align-self: end;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 675px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    width: 37px;
    height: 37px;
  }
}
@media (max-width: 527px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 447px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    width: 32px;
    height: 32px;
  }
}
.products-container .products .product-cart .hover-buttons .wishlist .filled {
  color: black !important;
}
.products-container .products .product-cart .hover-buttons .wishlist .icon {
  font-size: 23px;
  color: white;
}
@media (max-width: 527px) {
  .products-container .products .product-cart .hover-buttons .wishlist .icon {
    font-size: 20px;
  }
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 85px;
  text-align: center;
  background-color: #000;
  color: white;
  border: none;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart:hover {
  color: black;
  background-color: #333 !important;
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart::before {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: var(--second-primary-color);
  z-index: -1;
  transition: transform 0.8s ease-in-out;
  transform: translate(-100%, -100%);
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart:hover::before {
  transform: translate(0, 0);
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart:focus, .products-container .products .product-cart .hover-buttons .btn .add-to-cart:active {
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 730px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    font-size: 14px;
    padding: 10px 75px;
  }
}
@media (max-width: 675px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 10px 65px;
  }
}
@media (max-width: 575px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 9px 60px;
  }
}
@media (max-width: 547px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 55px;
  }
}
@media (max-width: 527px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 50px;
  }
}
@media (max-width: 507px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 45px;
  }
}
@media (max-width: 487px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 40px;
  }
}
@media (max-width: 467px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 35px;
  }
}
@media (max-width: 447px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 7px 29px;
  }
}
@media (max-width: 395px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 6px 22px;
  }
}
@media (max-width: 1150px) {
  .products-container .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .products-container .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
.modal-overlay .modal-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  background: linear-gradient(45deg, var(--primary-color), #fef9f9, #fff4f4, #f3f4f8);
  animation: gradientBG 10s ease infinite;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1300px) {
  .modal-overlay .modal-content {
    width: 39%;
  }
}
@media (max-width: 1100px) {
  .modal-overlay .modal-content {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .modal-overlay .modal-content {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .modal-overlay .modal-content {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .modal-overlay .modal-content {
    width: 80%;
  }
}
@media (max-width: 460px) {
  .modal-overlay .modal-content {
    width: 92%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.modal-overlay .modal-content .icon-container {
  align-self: end;
  width: 46px;
  height: 46px;
  background-color: #e5e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(13px) translateY(-10px);
}
.modal-overlay .modal-content .icon-container:hover .cls-icon {
  transform: scale(1.15) rotate(360deg);
}
.modal-overlay .modal-content .icon-container .cls-icon {
  font-size: 16px;
  transition: transform 1s ease-in-out;
}

.filter-modal {
  height: 100vh;
  border-top: 0.001rem solid #d6cbcb;
  display: flex;
  flex-direction: column;
}
.filter-modal .bottom {
  transform: translateY(270px);
  text-align: center;
}
.filter-modal .bottom .clear-filter {
  font-family: var(--secondary-font-family);
  padding: 6px 100px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
@media (max-width: 460px) {
  .filter-modal .bottom .clear-filter {
    padding: 6px 80px;
  }
}
.filter-modal * {
  font-family: var(--secondary-font-family);
}
.filter-modal .top h4 {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 22px;
  transform: translateY(-50px);
  text-align: center;
}
.filter-modal .filter-container-mobile {
  padding: 0 5px 15px 5px;
  border-bottom: 0.001rem solid #d6cbcb;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filter-modal .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-modal .filter span {
  font-size: 14px;
}
.filter-modal .filter .icon {
  font-size: 24px;
}
.filter-modal .mobile-filter .main {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.filter-modal .mobile-filter .main .reset {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.filter-modal .mobile-filter .main span {
  border: 0.001rem solid #d6cbcb;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.filter-modal .mobile-filter h4 {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 22px;
  font-family: var(--main-font-family);
  text-align: center;
}

.wishlist-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.wishlist-container .clear-all {
  margin: 0 auto;
  padding: 4px 45px;
  background-color: black;
  color: white;
}
.wishlist-container h5 {
  font-size: 21px;
  font-weight: 900;
  transform: translateY(-45px) translateX(-10px);
  font-family: var(--main-font-family);
}
.wishlist-container .wishlist-empty {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.wishlist-container .wishlist-empty .icon {
  font-size: 58px;
}
.wishlist-container .wishlist-empty .content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  flex-direction: column;
}
.wishlist-container .wishlist-empty .content span {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: bold;
}
.wishlist-container .wishlist-empty .content p {
  text-align: center;
  font-size: 13px;
  font-family: var(--secondary-font-family);
}
.wishlist-container .wishlist {
  width: 100%;
  margin-top: 20px;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.wishlist-container .wishlist .wishlist-product {
  position: relative;
  height: 23vh;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}
.wishlist-container .wishlist .wishlist-product .left {
  width: 35%;
}
.wishlist-container .wishlist .wishlist-product .left img {
  width: 100%;
  height: 100%;
}
.wishlist-container .wishlist .wishlist-product .right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
.wishlist-container .wishlist .wishlist-product .right .remove-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e5e0e0;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wishlist-container .wishlist .wishlist-product .right .remove-wishlist .icon {
  font-size: 13px;
  color: #333;
}
.wishlist-container .wishlist .wishlist-product .right .remove-wishlist:hover {
  background-color: #988080;
}
.wishlist-container .wishlist .wishlist-product .right .bottom {
  transform: translateX(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-height: 1150px) {
  .wishlist-container .wishlist .wishlist-product .right .bottom {
    transform: translateX(10px);
  }
}
.wishlist-container .wishlist .wishlist-product .right .bottom p {
  margin-bottom: -1px;
}
@media (max-height: 1150px) {
  .wishlist-container .wishlist .wishlist-product .right .bottom p {
    font-size: 13px;
  }
}
.wishlist-container .wishlist .wishlist-product .right .bottom .add-to-cart {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 15px;
}
@media (max-height: 1150px) {
  .wishlist-container .wishlist .wishlist-product .right .bottom .add-to-cart {
    font-size: 13px;
  }
}
.wishlist-container .wishlist .wishlist-product .right .bottom * {
  font-weight: bold;
  font-family: var(--secondary-font-family);
}
.wishlist-container .wishlist .wishlist-product .right .top .name {
  font-weight: 800;
  font-size: 16px;
  font-family: var(--main-font-family);
}
@media (max-height: 1150px) {
  .wishlist-container .wishlist .wishlist-product .right .top .name {
    font-size: 14px;
  }
}
.wishlist-container .wishlist .wishlist-product .right .top .brand {
  font-weight: 400;
  font-family: var(--secondary-font-family);
}
@media (max-height: 1150px) {
  .wishlist-container .wishlist .wishlist-product .right .top .brand {
    font-size: 15px;
  }
}
@media (max-height: 1040px) {
  .wishlist-container .wishlist .wishlist-product .right .top .brand {
    font-size: 12px;
  }
}
.wishlist-container .wishlist .wishlist-product .right .top p {
  margin: 0;
}
.wishlist-container .wishlist::-webkit-scrollbar {
  display: none;
}

.cart {
  overflow-y: auto;
  max-height: 450px;
}

.all-products {
  background-color: var(--primary-color);
  padding: 60px 0;
}
@media (max-width: 730px) {
  .all-products {
    padding: 50px 10px;
  }
}
@media (max-width: 650px) {
  .all-products {
    padding: 50px 0;
  }
}

.no-result {
  height: 56vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb-custom {
  background-color: var(--primary-color) !important;
  padding: 30px 30px 20px 30px;
}
@media (max-width: 1060px) {
  .breadcrumb-custom {
    padding: 30px 20px 20px 20px;
  }
}
.breadcrumb-custom ul {
  padding: 0;
  display: flex;
  gap: 10px;
}
.breadcrumb-custom ul span {
  margin-right: 10px;
}
.breadcrumb-custom ul li {
  list-style-type: none;
}
.breadcrumb-custom ul li .link {
  position: relative;
  font-family: var(--secondary-font-family);
  font-size: 17px;
  text-decoration: none;
  color: var(--second-text-color);
}
.breadcrumb-custom ul li .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.5;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
.breadcrumb-custom ul li .link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 800px) {
  .breadcrumb-custom ul li .link {
    font-size: 15px;
  }
}

.filter-sort-container {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.filter-sort-container * {
  font-family: var(--secondary-font-family);
}
@media (max-width: 870px) {
  .filter-sort-container * {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .filter-sort-container {
    padding: 30px 28px !important;
  }
}
.filter-sort-container .filter-container {
  display: flex;
  gap: 30px;
}
.filter-sort-container .filter-container .filter {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.filter-sort-container .filter-container .filter .icon {
  font-size: 20px;
}
.filter-sort-container .filter-container .filter .icon {
  margin-left: 5px;
}
.filter-sort-container .filter-container .filter .filter-div {
  margin-top: 7px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  min-width: 270px;
}
.filter-sort-container .filter-container .filter .filter-div .reset {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.filter-sort-container .filter-container .filter .filter-div span {
  margin: 2px;
  border: 0.001rem solid #d6cbcb;
  border-radius: 20px;
  padding: 6px 13px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.filter-sort-container .filter-container .filter .filter-div.open {
  display: block;
}
@media (max-width: 780px) {
  .filter-sort-container .filter-container {
    display: none;
  }
}
.filter-sort-container .sort-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}
.filter-sort-container .sort-container .icon {
  font-size: 20px;
}
.filter-sort-container .sort-container .number-products {
  color: var(--second-text-color);
  font-size: 16px;
  margin-right: 20px;
}
.filter-sort-container .sort-container .icon {
  margin-left: 5px;
}
.filter-sort-container .sort-container .sort-div {
  margin-top: 5px;
  display: none;
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  background: var(--primary-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 200px;
  z-index: 10;
}
.filter-sort-container .sort-container .sort-div span {
  font-size: 14px;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.filter-sort-container .sort-container .sort-div span:hover {
  background: #f5f5f5;
}
.filter-sort-container .sort-container .sort-div.open {
  display: block;
}
.filter-sort-container .mobile-filter-container span {
  margin-left: 7px;
}
.filter-sort-container .mobile-filter-container .icon {
  font-size: 18px;
  transform: translateY(-2px);
}
@media (min-width: 780px) {
  .filter-sort-container .mobile-filter-container {
    display: none;
  }
}
@media (max-width: 780px) {
  .filter-sort-container .mobile-filter-container {
    display: block;
  }
}

.shop-container {
  background-color: var(--primary-color);
  padding: 100px 60px 25px 60px;
}
@media (max-width: 1050px) {
  .shop-container {
    padding: 100px 45px 25px 45px;
  }
}
@media (max-width: 700px) {
  .shop-container {
    padding: 100px 35px 25px 35px;
  }
}
@media (max-width: 650px) {
  .shop-container {
    padding: 80px 35px 25px 35px;
  }
}
.shop-container .image-container {
  overflow: hidden;
  height: 85vh;
  position: relative;
}
@media (max-width: 439px) {
  .shop-container .image-container {
    height: 79vh;
  }
}
.shop-container .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.8s ease-in-out;
}
.shop-container .image-container:hover img {
  transform: rotate(5deg) scale(1.2);
}
.shop-container .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.8s ease-in-out;
}
.shop-container .image-container .overlay:hover {
  background-color: rgba(37, 31, 31, 0.4);
}
.shop-container .image-container .overlay .overlay-content {
  padding-right: 150px;
  padding-left: 150px;
  text-align: center;
  color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
@media (max-width: 1030px) {
  .shop-container .image-container .overlay .overlay-content {
    padding-right: 130px;
    padding-left: 130px;
  }
}
@media (max-width: 870px) {
  .shop-container .image-container .overlay .overlay-content {
    padding-right: 115px;
    padding-left: 115px;
  }
}
@media (max-width: 800px) {
  .shop-container .image-container .overlay .overlay-content {
    padding-right: 70px;
    padding-left: 70px;
  }
}
@media (max-width: 540px) {
  .shop-container .image-container .overlay .overlay-content {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.shop-container .image-container .overlay .overlay-content p {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  font-family: var(--main-font-family);
}
@media (max-width: 1030px) {
  .shop-container .image-container .overlay .overlay-content p {
    font-size: 34px;
  }
}
@media (max-width: 870px) {
  .shop-container .image-container .overlay .overlay-content p {
    font-size: 32px;
  }
}
@media (max-width: 540px) {
  .shop-container .image-container .overlay .overlay-content p {
    font-size: 27px;
  }
}
@media (max-width: 439px) {
  .shop-container .image-container .overlay .overlay-content p {
    font-size: 24px;
  }
}
.shop-container .image-container .overlay .overlay-content .link {
  font-family: var(--secondary-font-family);
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 30px 60px;
}
@media (max-width: 1030px) {
  .shop-container .image-container .overlay .overlay-content .link {
    padding: 24px 56px;
  }
}
@media (max-width: 800px) {
  .shop-container .image-container .overlay .overlay-content .link {
    padding: 20px 45px;
  }
}
@media (max-width: 540px) {
  .shop-container .image-container .overlay .overlay-content .link {
    padding: 15px 34px;
  }
}
@media (max-width: 439px) {
  .shop-container .image-container .overlay .overlay-content .link {
    padding: 10px 25px;
  }
}

.marquee-container {
  overflow: hidden;
  padding: 25px 60px;
  background: var(--primary-color);
  color: var(--text-color);
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.marquee__items {
  display: flex;
  animation: marquee-scroll 30s linear infinite;
}
.marquee__items .marquee__item {
  font-family: var(--main-font-family);
  font-size: 35px;
  font-weight: 800;
  padding: 0 30px;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.enhance-collection {
  padding: 70px 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(45deg, var(--primary-color), #fef9f9, var(--second-primary-color), #f3f4f8);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
@media (max-width: 1200px) {
  .enhance-collection {
    padding: 70px 40px;
  }
}
@media (max-width: 850px) {
  .enhance-collection {
    padding: 50px 20px;
  }
}
@media (max-width: 700px) {
  .enhance-collection {
    padding: 50px 14px;
  }
}
@media (max-width: 650px) {
  .enhance-collection {
    padding: 50px 0;
  }
}
.enhance-collection h2 {
  margin-bottom: 65px;
  font-family: var(--main-font-family);
  font-size: 44px;
  font-weight: 700;
}
@media (max-width: 900px) {
  .enhance-collection h2 {
    margin: 25px;
  }
}
@media (max-width: 600px) {
  .enhance-collection h2 {
    font-size: 41px;
  }
}
@media (max-width: 550px) {
  .enhance-collection h2 {
    font-size: 38px;
  }
}
@media (max-width: 430px) {
  .enhance-collection h2 {
    font-size: 36px;
  }
}
.enhance-collection .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.enhance-collection .main * {
  font-family: var(--seondary-font-family);
}
.enhance-collection .main .left {
  width: 50%;
}
@media (max-width: 900px) {
  .enhance-collection .main .left {
    width: 100%;
  }
}
.enhance-collection .main .left .content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 80%;
}
@media (max-width: 1340px) {
  .enhance-collection .main .left .content {
    gap: 18px;
  }
}
@media (max-width: 700px) {
  .enhance-collection .main .left .content {
    gap: 10px;
  }
}
@media (max-width: 1010px) {
  .enhance-collection .main .left .content {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .enhance-collection .main .left .content {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .enhance-collection .main .left .content {
    padding: 0 55px;
  }
}
.enhance-collection .main .left .content p {
  font-size: 23px;
  margin: 0;
}
@media (max-width: 1340px) {
  .enhance-collection .main .left .content p {
    font-size: 20px;
  }
}
@media (max-width: 1140px) {
  .enhance-collection .main .left .content p {
    font-size: 18px;
  }
}
@media (max-width: 1010px) {
  .enhance-collection .main .left .content p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .enhance-collection .main .left .content p {
    font-size: 18px;
  }
}
@media (max-width: 660px) {
  .enhance-collection .main .left .content p {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .enhance-collection .main .left .content p {
    font-size: 14px;
  }
}
.enhance-collection .main .left .content h1 {
  font-size: 35px;
  font-weight: 650;
  font-family: var(--main-font-family);
}
@media (max-width: 1340px) {
  .enhance-collection .main .left .content h1 {
    font-size: 30px;
  }
}
@media (max-width: 1140px) {
  .enhance-collection .main .left .content h1 {
    font-size: 27px;
  }
}
@media (max-width: 1010px) {
  .enhance-collection .main .left .content h1 {
    font-size: 23px;
  }
}
@media (max-width: 900px) {
  .enhance-collection .main .left .content h1 {
    font-size: 26px;
  }
}
@media (max-width: 628px) {
  .enhance-collection .main .left .content h1 {
    font-size: 24px;
  }
}
@media (max-width: 430px) {
  .enhance-collection .main .left .content h1 {
    font-size: 22px;
  }
}
.enhance-collection .main .left .content .link {
  margin-top: 8px;
  text-decoration: none;
  color: white;
  background-color: black;
  align-self: start;
  padding: 12px 28px;
  font-size: 20px;
}
@media (max-width: 1340px) {
  .enhance-collection .main .left .content .link {
    padding: 10px 25px;
  }
}
@media (max-width: 1140px) {
  .enhance-collection .main .left .content .link {
    padding: 8px 25px;
    font-size: 18px;
  }
}
@media (max-width: 1010px) {
  .enhance-collection .main .left .content .link {
    padding: 7px 20px;
    font-size: 17px;
  }
}
@media (max-width: 628px) {
  .enhance-collection .main .left .content .link {
    font-size: 16px;
  }
}
.enhance-collection .main .right {
  width: 50%;
}
@media (max-width: 900px) {
  .enhance-collection .main .right {
    margin-top: 40px;
    width: 90%;
  }
}
.enhance-collection .main .right img {
  width: 100%;
}
@media (max-width: 900px) {
  .enhance-collection .main {
    flex-direction: column;
  }
}
.enhance-collection .enhance-products {
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .enhance-collection .enhance-products {
    padding: 0;
  }
}
.enhance-collection .enhance-products .products {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 700px) {
  .enhance-collection .enhance-products .products {
    gap: 10px;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .enhance-collection .enhance-products .products {
    margin: 0 80px;
  }
  .enhance-collection .enhance-products .products .product-cart {
    height: 60vh;
  }
}
@media (max-width: 510px) {
  .enhance-collection .enhance-products .products {
    margin: 0 50px;
  }
  .enhance-collection .enhance-products .products .product-cart {
    height: 55vh;
  }
}
@media (max-width: 400px) {
  .enhance-collection .enhance-products .products {
    margin: 0 30px;
  }
}
@media (max-width: 950px) {
  .enhance-collection .enhance-products .products .product-cart h2 {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .enhance-collection .enhance-products .products .product-cart h2 {
    margin: 5px;
  }
}
@media (max-width: 1134px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 8px 60px !important;
  }
}
@media (max-width: 984px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 8px 50px !important;
  }
}
@media (max-width: 924px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 8px 40px !important;
  }
}
@media (max-width: 900px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 8px 80px !important;
  }
}
@media (max-width: 738px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 8px 60px !important;
  }
}
@media (max-width: 550px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 12px 85px !important;
  }
}
@media (max-width: 416px) {
  .enhance-collection .enhance-products .products .product-cart button {
    padding: 9px 65px !important;
  }
}
@media (max-width: 900px) {
  .enhance-collection .enhance-products .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .enhance-collection .enhance-products .products .product-cart:last-child {
    width: 50%;
    grid-column: span 2;
    justify-self: center;
  }
}
@media (max-width: 700px) {
  .enhance-collection .enhance-products .products .product-cart:last-child {
    width: 55%;
  }
}
@media (max-width: 550px) {
  .enhance-collection .enhance-products .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .enhance-collection .enhance-products .products .product-cart:last-child {
    grid-column: span 1;
    width: 100%;
  }
}

.fluid-container {
  position: relative;
  display: flex;
}
.fluid-container img {
  max-width: 100%;
  display: block;
}
.fluid-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.fluid-container .overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fluid-container .overlay .overlay-content p {
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 50px;
}
@media (max-width: 1550px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 40px;
  }
}
@media (max-width: 1146px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 35px;
  }
}
@media (max-width: 980px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 30px;
  }
}
@media (max-width: 860px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 27px;
  }
}
@media (max-width: 700px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 25px;
  }
}
@media (max-width: 630px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .fluid-container .overlay .overlay-content p {
    font-size: 17px;
  }
}
.fluid-container .overlay .overlay-content .link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: var(--secondary-font-family);
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 450;
  background-color: black;
  padding: 32px 55px;
}
.fluid-container .overlay .overlay-content .link:hover {
  color: black;
}
.fluid-container .overlay .overlay-content .link::before {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: var(--primary-color);
  z-index: -1;
  transition: transform 0.8s ease-in-out;
  transform: translate(-100%, -100%);
}
.fluid-container .overlay .overlay-content .link:hover::before {
  transform: translate(0, 0);
}
@media (max-width: 1550px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 28px 45px;
  }
}
@media (max-width: 1146px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 24px 37px;
  }
}
@media (max-width: 980px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 20px 30px;
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 15px 24px;
    font-size: 17px;
  }
}
@media (max-width: 570px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 14px 19px;
  }
}
@media (max-width: 480px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 12px 14px;
    font-size: 15px;
  }
}
@media (max-width: 420px) {
  .fluid-container .overlay .overlay-content .link {
    padding: 9px 13px;
    font-size: 14px;
  }
}

.check-out {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.check-out .top {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .check-out .top {
    padding: 18px 45px;
  }
}
@media (max-width: 650px) {
  .check-out .top {
    padding: 15px 30px;
  }
}
@media (max-width: 500px) {
  .check-out .top {
    padding: 15px 24px;
  }
}
.check-out .top h3 {
  font-size: 30px;
  font-family: var(--secondary-font-family);
}
@media (max-width: 1000px) {
  .check-out .top h3 {
    font-size: 27px;
  }
}
@media (max-width: 500px) {
  .check-out .top h3 {
    font-size: 24px;
  }
}
.check-out .top .icon {
  color: hsl(204, 74%, 39%);
  font-size: 25px;
}
@media (max-width: 1000px) {
  .check-out .top .icon {
    font-size: 21px;
  }
}
@media (max-width: 500px) {
  .check-out .top .icon {
    font-size: 18px;
  }
}
.check-out .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --primary-color: #fff9f9;
  --second-primary-color: #faeaee;
  --secondary-color: #f5e7ec;
  --background-color: linear-gradient(
    215deg,
    rgba(248, 208, 218, 0.45) 34.38%,
    rgba(195, 236, 252, 0.45) 73.44%
  ) !important;
  --text-color: #191919;
  --second-text-color: #0000007a;
  --main-font-family: "Cormorant", serif;
  --secondary-font-family: "Poppins", serif;
}

/* Dark mode */
[data-theme=dark] {
  --primary-color: #1e88e5;
  --secondary-color: #43a047;
  --background-color: linear-gradient(
    215deg,
    rgba(139, 105, 115, 0.6) 34.38%,
    rgba(73, 96, 125, 0.6) 73.44%
  );
  --text-color: #ffffff;
}/*# sourceMappingURL=style.css.map */