@import "./global";
@import "./navbar";
@import "./heroHome";
@import "./_newArrivals";
@import "./products";
@import "./spotLight";
@import "./modal-style/modal";
@import "./modal-style/wishlist";

// body {
//   background-color: #191919 !important;
// }

:root {
  --primary-color: #fff9f9;
  --secondary-color: #f5e7ec;
  --background-color: linear-gradient(
    215deg,
    rgba(248, 208, 218, 0.45) 34.38%,
    rgba(195, 236, 252, 0.45) 73.44%
  ) !important;
  --text-color: #191919;
  --main-font-family: "Cormorant", serif;
  --secondary-font-family: "Poppins", serif;
}

/* Dark mode */
[data-theme="dark"] {
  --primary-color: #1e88e5;
  --secondary-color: #43a047;
  --background-color: linear-gradient(
    215deg,
    rgba(139, 105, 115, 0.6) 34.38%,
    rgba(73, 96, 125, 0.6) 73.44%
  );
  --text-color: #ffffff;
}
