* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
  cursor: none !important;
}

html, body {
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 90px 0 40px 50px;
}
@media (max-width: 830px) {
  .title {
    padding: 90px 0 40px 20px;
  }
}
@media (max-width: 560px) {
  .title {
    padding: 70px 0 40px 8px;
  }
}
@media (max-width: 500px) {
  .title {
    padding: 90px 0 40px 8px;
  }
}
.title h2 {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 40px;
  padding: 0 28px 0 10px;
}
@media (max-width: 830px) {
  .title h2 {
    font-size: 37px;
    padding: 0 28px 0 0;
  }
}
@media (max-width: 560px) {
  .title h2 {
    font-size: 30px;
    padding: 0 15px 0 0;
  }
}
@media (max-width: 400px) {
  .title h2 {
    font-size: 27px;
  }
}

.cursor-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.cursor--large {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 205, 205, 0.5); /* Light Pink */
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  z-index: 9998;
}

.cursor--small {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: rgb(253, 139, 139); /* Darker Pink */
  border-radius: 50%;
  transition: transform 0.1s ease-out, opacity 0.3s;
  z-index: 9999;
}

.cursor--large.hover {
  width: 42px;
  height: 42px;
  opacity: 0.7;
}

.cursor--small.hover {
  opacity: 0;
}

header .announcement {
  background-color: var(--text-color);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5px 0;
  font-weight: 400;
}
header nav {
  background: linear-gradient(45deg, var(--primary-color), #fef9f9, #fff4f4, #f3f4f8);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
header nav.sticky {
  animation: slideDown 0.6s ease-in-out forwards;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  padding: 8px !important;
  border-bottom: 0.001rem solid rgb(44, 62, 80);
}
header nav.sticky img {
  width: 130px;
  height: 35px;
  transform: none;
}
header nav.sticky .icons,
header nav.sticky ul, header nav.sticky .icons-add {
  border-bottom: none;
}
header nav.sticky ul {
  padding: 0;
}
header nav.sticky .navbar-brand {
  padding: 0px 20px;
}
header nav.sticky .navbar-brand::before {
  display: none;
}
header nav .nav-link {
  font-family: var(--secondary-font-family);
  position: relative;
}
header nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.5;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
header nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header nav .navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navbar-brand::before {
  display: inline-block;
  content: "";
  border-top: 0.001rem solid rgb(44, 62, 80);
  border-radius: 10px;
  width: 3rem;
  margin: 0px 15px 0px 0px;
  transform: translateY(1.57rem);
}
@media (max-width: 992px) {
  header nav .navbar-brand::before {
    display: none;
  }
}
header nav img {
  width: 200px;
  height: 70px;
  transform: translateY(10px);
}
header nav ul,
header nav .icons,
header nav .icons-add {
  padding-bottom: 8px;
  border-bottom: 0.001rem solid rgb(44, 62, 80);
}
@media (max-width: 992px) {
  header nav ul,
  header nav .icons,
  header nav .icons-add {
    border: none;
  }
}
header nav .icons-add {
  padding-bottom: 10px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (min-width: 992px) {
  header nav .icons-add {
    padding-right: 60px;
  }
}
header nav .icons-add .icon {
  font-size: 21px;
}
header nav .icons-add .icon:hover {
  transform: scale(1.15);
}
header nav .icons {
  padding-right: 60px;
  padding-bottom: 13px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
header nav .icons .icon {
  font-size: 21px;
}
header nav .icons .icon:hover {
  transform: scale(1.15);
}
header nav .container-fluid {
  padding: 0;
  justify-content: start !important;
}
header nav button {
  margin-top: 10px;
  outline: none !important;
  border: none !important;
}
header nav button:focus {
  box-shadow: none !important;
  border: none !important;
}
@media (max-width: 992px) {
  header nav button {
    order: 1;
  }
}
header nav .toggle-icon {
  font-size: 26px;
  color: black;
}
@media (max-width: 992px) {
  header nav {
    border-bottom: 0.001rem solid rgb(44, 62, 80);
    padding: 10px !important;
  }
  header nav .icons {
    gap: 8px;
    padding-right: 0;
    padding-bottom: 5px;
  }
  header nav img {
    transform: none;
    width: 160px;
    height: 50px;
    padding: 0px 10px;
  }
}
@media (max-width: 560px) {
  header nav {
    padding: 6px !important;
  }
  header nav .icons {
    gap: 6px;
  }
  header nav .icon {
    font-size: 20px !important;
  }
  header nav img {
    width: 145px;
    height: 35px;
  }
}
@media (max-width: 440px) {
  header nav img {
    width: 135px;
    height: 30px;
  }
  header nav .icons {
    gap: 4px;
  }
}

.home-hero {
  background-image: url("../images/general/homeHero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.home-hero .content-container {
  height: 100%;
}
.home-hero .content-container .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 120px 40px 40px;
}
.home-hero .content-container .content h2 {
  font-family: var(--main-font-family);
  font-weight: 750;
  font-size: 42px;
}
.home-hero .content-container .content button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-family: var(--secondary-font-family);
  padding: 12px 32px;
  font-size: 19px;
  margin-top: 10px;
}
.home-hero .content-container .content button:hover {
  background-color: #ffdada;
  color: black;
}
@media (max-width: 900px) {
  .home-hero .content-container .content h2 {
    font-size: 38px;
  }
}

.new-arrivals {
  background: linear-gradient(135deg, rgba(98, 0, 234, 0.3) 30%, rgba(41, 121, 255, 0.3) 70%);
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
.new-arrivals .title span {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  color: #545454;
  border-bottom: 0.001rem solid #545454;
  animation: borderAnimation 1s infinite alternate;
}
@media (max-width: 830px) {
  .new-arrivals .title span {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .new-arrivals .title span {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .new-arrivals .title span {
    font-size: 13px;
  }
}

@keyframes borderAnimation {
  0% {
    border-bottom-color: rgba(84, 84, 84, 0);
  }
  50% {
    border-bottom-color: rgb(84, 84, 84);
  }
  100% {
    border-bottom-color: rgba(84, 84, 84, 0);
  }
}
.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 54px 40px 54px;
  width: 100%;
}
@media (max-width: 1284px) {
  .products-container {
    padding: 18px 47px 40px 47px;
  }
}
@media (max-width: 1284px) {
  .products-container {
    padding: 18px 30px 40px 30px;
  }
}
@media (max-width: 620px) {
  .products-container {
    padding: 18px 10px 40px 10px;
  }
}
@media (max-width: 561px) {
  .products-container {
    padding: 18px 10px 40px 10px;
  }
}
.products-container .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}
@media (max-width: 561px) {
  .products-container .products {
    gap: 7px;
  }
}
.products-container .products .product-cart[data-id="9"],
.products-container .products .product-cart[data-id="10"],
.products-container .products .product-cart[data-id="11"] {
  background-position: center bottom;
}
.products-container .products .product-cart {
  background-color: white;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 58vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 561px) {
  .products-container .products .product-cart {
    height: 43vh;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart {
    height: 39vh;
  }
}
.products-container .products .product-cart * {
  font-family: var(--secondary-font-family);
}
.products-container .products .product-cart .top,
.products-container .products .product-cart .bottom {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.products-container .products .product-cart .bottom {
  align-self: end;
}
.products-container .products .product-cart .bottom .price {
  font-size: 20px;
}
@media (max-width: 561px) {
  .products-container .products .product-cart .bottom .price {
    font-size: 15px;
  }
}
.products-container .products .product-cart .product-brand {
  color: #555;
  font-size: 14px;
}
@media (max-width: 561px) {
  .products-container .products .product-cart .product-brand {
    font-size: 11px;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart .product-brand {
    font-size: 10px;
  }
}
.products-container .products .product-cart .product-name {
  padding-top: 5px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 1500px) {
  .products-container .products .product-cart .product-name {
    font-size: 21px;
  }
}
@media (max-width: 561px) {
  .products-container .products .product-cart .product-name {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 430px) {
  .products-container .products .product-cart .product-name {
    font-size: 13px;
  }
}
.products-container .products .product-cart:hover .top,
.products-container .products .product-cart:hover .bottom {
  opacity: 0;
  transform: translateY(-20px);
}
.products-container .products .product-cart:hover .hover-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.products-container .products .product-cart .hover-buttons {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translateY(20px);
}
.products-container .products .product-cart .hover-buttons .in-wishlist {
  background-color: #d5a5a5 !important;
}
.products-container .products .product-cart .hover-buttons .wishlist {
  position: relative;
  left: 105px;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1250px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 100px;
  }
}
@media (max-width: 1170px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 95px;
  }
}
@media (max-width: 1110px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 90px;
  }
}
@media (max-width: 1090px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 80px;
  }
}
@media (max-width: 1050px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 123px;
  }
}
@media (max-width: 1000px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 115px;
  }
}
@media (max-width: 940px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 110px;
  }
}
@media (max-width: 560px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 150px;
  }
}
@media (max-width: 515px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 130px;
  }
}
@media (max-width: 480px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 120px;
  }
}
@media (max-width: 390px) {
  .products-container .products .product-cart .hover-buttons .wishlist {
    left: 125px;
  }
}
.products-container .products .product-cart .hover-buttons .wishlist .icon {
  font-size: 23px;
  color: white;
}
.products-container .products .product-cart .hover-buttons .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart {
  outline: none;
  bottom: 30px;
  padding: 12px 90px;
  position: relative;
  text-align: center;
  position: relative;
  background-color: #000;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1340px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 10px 70px;
    font-size: 14px;
  }
}
@media (max-width: 1057px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    font-size: 14px;
    padding: 12px 85px;
  }
}
@media (max-width: 1340px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 8px 70px;
  }
}
@media (max-width: 900px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 11px 100px;
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 9px 80px;
    font-size: 14px;
  }
}
@media (max-width: 607px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 9px 80px;
    font-size: 13px;
  }
}
@media (max-width: 596px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 9px 80px;
    font-size: 11px;
  }
}
@media (max-width: 560px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 10px 120px;
    font-size: 15px;
  }
}
@media (max-width: 512px) {
  .products-container .products .product-cart .hover-buttons .btn .add-to-cart {
    padding: 10px 90px;
    font-size: 15px;
  }
}
.products-container .products .product-cart .hover-buttons .btn .add-to-cart:hover {
  background-color: #333;
}
@media (max-width: 1150px) {
  .products-container .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .products-container .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.spot-light {
  background-color: var(--primary-color);
}
.spot-light .title {
  padding: 43px 0 18px 50px;
}
.spot-light .main {
  position: relative;
}
.spot-light .main .img {
  width: 100%;
  height: auto;
  position: relative;
}
.spot-light .main .img img {
  width: 100%;
  height: auto;
  display: block;
}
.spot-light .main .img .hotspots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spot-light .main .img .hotspots .hotspot {
  font-family: var(--secondary-font-family);
  color: white;
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.001rem solid #fff9f9;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 550px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }
}
@media (max-width: 460px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .spot-light .main .img .hotspots .hotspot {
    width: 19px;
    height: 19px;
  }
}
.spot-light .main .img .hotspots .hotspot:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.2);
}
.spot-light .main .img .hotspots .hotspot.active {
  color: black;
  background-color: #fff9f9;
  transform: scale(1.1);
}
.spot-light .main .img .hotspots .hotspot::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  animation: pulse 1.7s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.spot-light .main .slide {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .spot-light .main .slide {
    height: 80vh;
  }
}
.spot-light .main .slide .spot-light-product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
}
.spot-light .main .slide .spot-light-product .bg-image {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
@media (max-width: 576px) {
  .spot-light .main .slide .spot-light-product .bg-image {
    top: -120px;
  }
}
@media (max-width: 930px) {
  .spot-light .main .slide .spot-light-product .bg-image {
    top: -120px;
  }
}
.spot-light .main .slide .spot-light-product .info {
  margin-bottom: -15px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%;
}
.spot-light .main .slide .spot-light-product .info .content {
  padding-top: 20px;
  width: 55%;
}
.spot-light .main .slide .spot-light-product .info .content * {
  font-family: var(--secondary-font-family);
}
@media (max-width: 470px) {
  .spot-light .main .slide .spot-light-product .info .content {
    width: 70%;
  }
}
.spot-light .main .slide .spot-light-product .info .content h4 {
  color: var(--text-color);
  font-size: 23px;
  font-weight: 400;
}
@media (max-width: 1132px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 20px;
  }
}
@media (max-width: 997px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 18px;
  }
}
@media (max-width: 908px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 23px;
  }
}
@media (max-width: 630px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 19px;
  }
}
@media (max-width: 470px) {
  .spot-light .main .slide .spot-light-product .info .content h4 {
    font-size: 17px;
  }
}
.spot-light .main .slide .spot-light-product .info .content p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}
.spot-light .main .slide .spot-light-product .info .content span {
  color: #545454;
  font-size: 14px;
}
@media (max-width: 997px) {
  .spot-light .main .slide .spot-light-product .info .content span {
    font-size: 12px;
  }
}
.spot-light .main .slide .spot-light-product .info .icon-container {
  border: 0.001rem solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spot-light .main .slide .spot-light-product .info .icon-container .icon {
  font-size: 28px;
  color: #6e6b6b;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@keyframes iconAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: 1;
    opacity: 1;
  }
}
.spot-light .main .slide .spot-light-product .info .icon-container:hover .icon {
  animation: iconAnimation 1s ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
.modal-overlay .modal-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 31%;
  height: 100vh;
  background: linear-gradient(45deg, #ebf0f6, #fef9f9, #fff4f4, #f3f4f8);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.modal-overlay .modal-content .icon-container {
  align-self: end;
  width: 46px;
  height: 46px;
  background-color: #e5e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(13px) translateY(-10px);
}
.modal-overlay .modal-content .icon-container:hover .cls-icon {
  transform: scale(1.15) rotate(360deg);
}
.modal-overlay .modal-content .icon-container .cls-icon {
  font-size: 16px;
  transition: transform 1s ease-in-out;
}

.wishlist-container {
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.wishlist-container h5 {
  font-size: 21px;
  font-weight: 900;
  transform: translateY(-45px) translateX(-10px);
  font-family: var(--main-font-family);
}
.wishlist-container .wishlist-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.wishlist-container .wishlist-product {
  border: 1px solid black;
  margin-bottom: 10px;
}

.cart {
  overflow-y: auto;
  max-height: 450px;
}

.all-products {
  background-color: var(--primary-color);
  padding: 60px 0;
}
@media (max-width: 730px) {
  .all-products {
    padding: 50px 10px;
  }
}
@media (max-width: 650px) {
  .all-products {
    padding: 50px 0;
  }
}

.breadcrumb-custom {
  background-color: var(--primary-color) !important;
  padding: 30px 30px 20px 30px;
}
.breadcrumb-custom ul {
  display: flex;
  gap: 10px;
}
.breadcrumb-custom ul span {
  margin-right: 10px;
}
.breadcrumb-custom ul li {
  list-style-type: none;
}
.breadcrumb-custom ul li .link {
  position: relative;
  font-family: var(--secondary-font-family);
  font-size: 17px;
  text-decoration: none;
  color: var(--second-text-color);
}
.breadcrumb-custom ul li .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.5;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
.breadcrumb-custom ul li .link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.filter-sort-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.filter-sort-container .filter-container {
  display: flex;
  gap: 30px;
}

:root {
  --primary-color: #fff9f9;
  --secondary-color: #f5e7ec;
  --background-color: linear-gradient(
    215deg,
    rgba(248, 208, 218, 0.45) 34.38%,
    rgba(195, 236, 252, 0.45) 73.44%
  ) !important;
  --text-color: #191919;
  --second-text-color: #0000007a;
  --main-font-family: "Cormorant", serif;
  --secondary-font-family: "Poppins", serif;
}

/* Dark mode */
[data-theme=dark] {
  --primary-color: #1e88e5;
  --secondary-color: #43a047;
  --background-color: linear-gradient(
    215deg,
    rgba(139, 105, 115, 0.6) 34.38%,
    rgba(73, 96, 125, 0.6) 73.44%
  );
  --text-color: #ffffff;
}/*# sourceMappingURL=style.css.map */