@import "./global";
@import "./navbar";
@import "./home/_newArrivals";
@import "./home/heroHome";
@import "./home/spotLight";
@import "./products";
@import "./modal-style/modal";
@import "./modal-style/wishlist";
@import "./modal-style/cart";
@import "./products-page/allProducts";
@import "./breadcrumb.scss";
@import "./products-page/filter-sort";
@import "./home/shopNow";
@import "./home/ingredients";
@import "./home/enhanceCollection";
@import "./home/nimo-skincare";
@import "./checkout/check-out";
@import "./admin";
@import "./floatingButtons";
@import "./singleProduct";
@import "./footer";
@import "./home/quotas";
@import "./faq/faq";
@import "./notFoundPage";
@import './login/login';
@import './contact';
@import "./blog";
@import './about/about';

:root {
  --primary-color: #fff9f9;
  --second-primary-color: #faeaee;
  --third-primary-color: #fef9f9;
  --fourth-primary-color: #f3f4f8;
  --secondary-color: #f5e7ec;
  --background-color: linear-gradient(
    215deg,
    rgba(248, 208, 218, 0.45) 34.38%,
    rgba(195, 236, 252, 0.45) 73.44%
  ) !important;
  --text-color: #191919;
  --second-text-color: #0000007a;
  --main-font-family: "Cormorant", serif;
  --secondary-font-family: "Poppins", serif;
  --wishlist-color: #faeaee;
  --wishlist-icon-color: black;
  --close-btn: #e5e0e0;
  --faq-bg-color: #ebe5e5;
}

/* Dark mode */
[data-theme="dark"] {
  --primary-color: #3a2325;
  --second-primary-color: #4a2d30;
  --third-primary-color: #523134;
  --fourth-primary-color: #613a3d;
  --secondary-color: #744447;
  --background-color: linear-gradient(
    215deg,
    rgba(90, 50, 53, 0.85) 34.38%,
    rgba(60, 35, 37, 0.85) 73.44%
  ) !important;
  --text-color: #f1dfdf;
  --second-text-color: rgba(245, 225, 225, 0.7);
  --main-font-family: "Cormorant", serif;
  --secondary-font-family: "Poppins", serif;
  --wishlist-color: #613a3d;
  --wishlist-icon-color: white;
  --close-btn: #7e5559;
  --faq-bg-color: #978384;
}
[data-theme="dark"] .navbar-brand img {
  filter: invert(100%);
}
[data-theme="dark"] .nav-link {
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}
[data-theme="dark"] .nav-link:hover {
  color: #a65c68;
}
