.home-hero {
  background-image: url("../images/general/homeHero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  .content-container {
    height: 100%;
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 120px 40px 40px;
      h2 {
        font-family: var(--main-font-family);
        font-weight: 750;
        font-size: 42px;
      }
      button {
        position: relative;
        overflow: hidden;
        display: inline-block;
        &:hover {
          color: black;
        }
        &::before {
          content: "";
          position: absolute;
          top: -150%;
          left: -150%;
          width: 300%;
          height: 300%;
          background: var(--primary-color);
          z-index: -1;
          transition: transform 0.8s ease-in-out;
          transform: translate(-100%, -100%);
        }

        &:hover::before {
          transform: translate(0, 0);
        }
        border: none;
        outline: none;
        background-color: black;
        color: white;
        font-family: var(--secondary-font-family);
        padding: 12px 32px;
        font-size: 19px;
        margin-top: 10px;
      }
      @media (max-width: 900px) {
        h2 {
          font-size: 38px;
        }
      }
    }
  }
}
