.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 31;
  transition: opacity 0.3s ease;
  &.closing {
    opacity: 0;
  }

  .modal-content {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    @media (max-width: 1300px) {
      width: 39%;
    }
    @media (max-width: 1100px) {
      width: 50%;
    }
    @media (max-width: 800px) {
      width: 60%;
    }
    @media (max-width: 650px) {
      width: 70%;
    }
    @media (max-width: 550px) {
      width: 80%;
    }
    @media (max-width: 460px) {
      width: 92%;
    }
    background-color: var(--third-primary-color);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    &.closing {
      transform: translateX(100%);
      opacity: 0;
    }
    z-index: 31;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    .icon-container {
      position: relative;
      z-index: 40;
      align-self: end;
      width: 46px;
      height: 46px;
      background-color: var(--close-btn);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(13px) translateY(-10px);
      &:hover {
        .cls-icon {
          transform: scale(1.15) rotate(360deg);
        }
      }
      .cls-icon {
        color: var(--text-color);
        font-size: 16px;
        transition: transform 1s ease-in-out;
      }
    }
  }
}
@import "./filter-modal";
@import "./search";
@import "./accountModal";
